<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="LyticsSitecoreConnector.Pipeline.Initialize.InitializeLytics, LyticsSitecoreConnector" >
					<param name="AccessKey">[Your lytics access key]</param>
					<param name="RootAddress">https://api.lytics.io</param>
				</processor>
			</initialize>
			<httpRequestBegin>
				<processor type="LyticsSitecoreConnector.Pipeline.HttpRequest.GatherLyticsUserSegments, LyticsSitecoreConnector"
									 patch:before="*[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
			</httpRequestBegin>
			<getLyticsId>
				<processor type="LyticsSitecoreConnector.Pipeline.GetLyticsId.CookieLyticsId, LyticsSitecoreConnector">
					<param name="cookie">[cookie that contains lytics user id]</param>
				</processor>
			</getLyticsId>
		</pipelines>
		<scheduling>
			<agent type="LyticsSitecoreConnector.Agent.RulesRefreshAgent, LyticsSitecoreConnector" method="Run" interval="00:00:15">
			</agent>
		</scheduling>
		</sitecore>
</configuration>